# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_NAME=comun-api
# DATABASE_USER=postgres
# DATABASE_PASSWORD=yusepjaelani123

# DATABASE_URL="postgresql://"${DATABASE_USER}":"${DATABASE_PASSWORD}"@"${DATABASE_HOST}":"${DATABASE_PORT}"/"${DATABASE_NAME}

DATABASE_URL=
SHADOW_DATABASE_URL=

MULTIAVATAR_API_KEY=

FTP_HOST=
FTP_USERNAME=
FTP_PASSWORD=
FTP_PORT=
FTP_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NODE_ENV=development
PORT=3000
FRONTEND_URL=
FRONTEND_AUTH_URL=
JWT_SECRET=
JWT_EXPIRED=
JWT_COOKIE_EXPIRE=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=